[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
django-celery-results = "*"
psycopg2 = "*"
redis = "*"
eventlet = "*"
black = "==20.8b1"
flake8 = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
